@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Arial, sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    background-color: #0F0F0F;
}

.container{
    background-color: #0F0F0F;
    color: white;
    padding: 0px;
    display: grid;
    height: 100vh;
    grid-template-columns: 12% 30% 25% 20% 13%;
    grid-template-rows: 60px 300px auto auto auto;
    grid-template-areas:
        'logo nav nav nav perfil'
        'c c c s s'
        'c c c s s'
        'c c c s s'
        'd d d s s'
        'd d d s s';
}

.container div{
    background-color: #0F0F0F;
    padding: 20px;
}



#content{
    grid-area: c;
}

#descri{
    grid-area: d;
}



/*Area Do Header*/

.icone{
    width: 25px;
    height: 19px;
}

#logo{
    /*Area para grid*/
    grid-area: logo;
    /*Outras configs*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: white;
}

#logo a{
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    text-indent: 1px;
}

#logo p{
    display: inline;
    font-size: 20px;
}

#nav{
    /*Area para grid*/
    grid-area: nav;
    /*Outras configs*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1%;
}

#nav input{
    padding: 10px;
    font-size: 16px;
    background-color: #121212;
    color: hsl(0deg 0% 100% / 88%);
    border-radius: 30px;
    border-top-color: #838383;
    border-left-color: #838383;
    border-right-color: #303030;
    border-bottom-color: #303030;
    width: 600px;
}

#nav input:placeholder{
    color: #888888;
}

#microfone{
    width: 20px;
    height: 20px;
    padding: 10px;
}

#microfone:hover{
    background-color: #303030;
    border-radius: 30px;
}

#perfil{
    /*Area para grid*/
    grid-area: perfil;
    /*Outras configs*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#perfil img{
    width: 20px;
    height: 20px;
    padding: 5px;
}

#perfil div{
    border: 1px solid #303030;
    font-weight: 500;
    color: #30A6FF;
}

#perfil a:hover:first-child{
    border-radius: 30px;
}

#perfil a:last-child{
    text-decoration: none;
}

#usuario{
    border-radius: 30px;
    padding: 12px;
    width: 80px;
    justify-content: center;
    align-items: center;
}

.hover.login:hover{
    background-color: #263850;
    border-radius: 30px;
}

.hover:hover{
    background-color: #303030;
    border-radius: 30px;
}

.active.login:active{
    background-color: #394d68;
}

.active:active{
    background-color: #727272;
}

/*Content*/

#content{
    height: 100%;
    width: 97%;
    padding: 20px 40px 0px 40px;
}

#content iframe{
    width: 100%;
}

@media (max-width: 1876px){
    #content{
        width: 95%;
    }

}

@media (max-width: 1600px){
    .container #sidebar{
        grid-template-columns: 35% 45%;
    }
}

@media (max-width: 1440px){
    .container #sidebar{
        grid-template-columns: 40% 45%;
    }
}

@media (max-width: 1200px){
    .container #sidebar{
        grid-template-columns: 45% 45%;
    }
    
    .container{
        grid-template-columns: 7% 25% 40% 15% 13%;
        grid-template-rows: 60px 300px auto auto auto;
        grid-template-areas:
        'logo logo nav perfil perfil'
        'c c c s s'
        'c c c s s'
        'c c c s s'
        'd d d s s'
        'd d d s s';
    }
}

@media (max-width: 1000px){
    .container #sidebar{
        grid-template-columns: 50% 45%;
    }
}

@media (max-width: 950px){
    .container{
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        'logo nav perfil'
        'c c c'
        'c c c'
        'c c c'
        'd d d'
        's s s';
    }

    #content{
        width: 93.3%;
        padding: 10px 20px 0px 30px;
    }

    .container #descri{
        height: 150px;
        padding: 20px 20px 0px 30px;
    }

    #content iframe{
        width: 100%;
    }

    .container .imagem{
        height: 100px;
    }

    #sidebar{
        padding: 20px 20px 20px 30px;
    }

    .container #sidebar{
        grid-template-columns: 20% auto;
    }
    
}

@media (max-width: 755px){
    .container{
        grid-template-columns: 25% 45% 30%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        'logo nav perfil'
        'c c c'
        'c c c'
        'c c c'
        'd d d'
        's s s';
    }

    #content{
        width: 92.3%;
        padding: 10px 20px 0px 30px;
    }

    .container #sidebar{
        grid-template-columns: 25% auto;
    }
}

@media (max-width: 660px){
    #content iframe{
        height: 400px;
    }

    #content{
        width: 90%;
    }

    .container #sidebar{
        grid-template-columns: 30% auto;
    }
}


@media (max-width: 520px){
    .container{
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        'logo nav perfil'
        'c c c'
        'c c c'
        'c c c'
        'd d d'
        's s s';
    }

    #nav input{
        width: 60%;
    }

    #content{
        width: 88%;
    }

    .container #sidebar{
        grid-template-columns: 35% auto;
    }

    .none{
        display: none;
    }

    #nav{
        margin-left: -20%;
    }
}

@media (max-width: 490px){
    .container{
        grid-template-columns: 30% 30% 40%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        'logo nav perfil'
        'c c c'
        'c c c'
        'c c c'
        'd d d'
        's s s';
    }

    #content{
        width: 95%;
        padding: 10px 0px 10px 10px;
    }

    .container #descri{
        padding: 10px 0px 10px 10px;
    }

    #sidebar{
        padding: 10px 20px 20px 10px;
    }

    .info{
        float: left;
    }

    #perfil{
        margin-left: -30px;
    }

    #membro{
        display: flex;
        clear: left;
    }
}

@media (max-width: 420px){
    .container{
        grid-template-columns: 30% 40% 20%;
    }

    #content{
        width: 100%;
    }

    #content iframe{
        width: 100%;
    }

    #logo{
        width: 100px;
        padding-left: 10px;
    }

    #nav{
        margin-left: -20%;
    }

    .container #inscrito{
        font-size: 7px;
        padding-bottom: 5px;
    }

    .container #membro{
        font-size: 7px;
        padding-bottom: 5px;
    }

    #login{
        font-size: 0.000000001px;
        letter-spacing: -10px;
    }

    #usuario{
        width: 70%;
    }

    #sidebar{
        width: 100%;
    }
}

@media (max-width: 330px){
    #logo{
        padding-left: 0px;
        margin-left: -2px;
    }

    #usuario{
        width: 70%;
        padding: 11px;
    }

    #sidebar{
        width: 90%;
        padding-top: 15%;
    }

    #descri{
        width: 90%;
    }

    #content iframe{
        height: 180px;
    }
}

@keyframes opacity{
    from{
        opacity: 10%;
        translate: 100px;
    }

    20%{
        opacity: 30%;
    }

    50%{
        opacity: 60%;
        translate: 40px;
    }

    to{
        opacity: 100%;
        translate: 0px;
    }
}

@keyframes rotacionar {
    from{
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}


/*Side-Bar*/

#sidebar{
    /*Area da Grid*/
    grid-area: s;
    /*Outras Configs*/
    display: grid;
    grid-template-columns: 30% 45%;
    grid-template-rows: auto;
    gap: 10px;
}

.recomendados{
    border-radius: 8px;
    padding: 0px;
    width: 100%;
    height: 93%;
}

#sidebar div{
    padding: 0px;
}

.item{
    height: 100%;
    padding: 0px;
}

.imagem{
    height: 110px;
    padding: 0px;
}

.texto{
    display: inline;
    font-size: 14px;
    color: white;
    box-sizing: border-box;
}

#sidebar a{
    text-decoration: none;
    color: rgb(158, 158, 158);
    font-weight: 500;
}

/*Descri*/

#descri{
    height: 198.5px;
    padding-left: 40px;
}

#descri h1{
    font-weight: 500;
    font-size: 19px;
}

#descri p{
    font-weight: 400px;
    font-size: 14px;
    padding: 5px 0px 1px 0px;
}

#yt{
    padding: 15px 0px 0px 0px;
    display: flex;
    gap: 12px;
}

#yt img{
    border-radius: 50%;
}

.info{
    font-size: 13px;
    display: inline;
    padding: 5px 0px 5px 0px;
    line-height: 20px;
    font-weight: 400;
    color: #aaa;
}

#yt a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#verifi{
    width: 10px;
    height: 10px;
    padding-left: 2px;
}

.nome{
    font-size: 18px;
}

#yt p{
    height: 16px;
    border-radius: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#yt p:hover{
    background-color: #505050;
}

#yt p:active{
    background-color: #727272;
}

#inscrito{
    background-color: red;
}

#membro{
    background-color: #29292B;
    display: block;
}

#inline{
    display: inline;
}

#login{
    display: inline;
}