*{
    padding: 0;
    margin: 0;
}

.container{
    background-color: #333;
    border: 3px solid red;
    padding: 15px;
    display: grid;
    /*grid-template-columns: auto auto auto;
    height: 50vh;
    grid-template-rows: 20% auto;
    justify-content: center;
    align-items: end;*/
    grid-template-areas: 
    'h h h'
    's c c'
    'f f f';
}

.container div{
    background-color: #ccc;
    padding: 20px;
    border: 1px solid blue;
}

#header{
    grid-area: h;
}

#sideBar{
    grid-area: s;
}

#content{
    grid-area: c;
}

#footer{
    grid-area: f;
}

@media (max-width: 740px) and (min-width: 500px){
    .container{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1000px){
    .container{
        border: 3px solid green;
    }
}

@media (max-width: 400px){
    .container{
        grid-template-columns: auto;
    }
    #iten-6{
        display: none;
    }
}
